In [75]:
import pandas as pd


unames = ['user_id', 'gender', 'age', 'occupation', 'zip'] #creating the users data bank
users = pd.read_table('users.dat', sep='::', engine='python', header=None, names=unames)

rnames = ['user_id', 'movie_id', 'rating', 'timestamp'] #creating the ratings data bank
ratings = pd.read_table('ratings.dat', sep='::', engine='python', header=None, names=rnames)

mnames = ['movie_id', 'title', 'genres'] #creating the movies data bank
movies = pd.read_table('movies.dat', sep='::', engine='python', header=None, names=mnames)

data = pd.merge(pd.merge(ratings, users), movies) #creating the combined data bank

mean_ratings = data.pivot_table('rating', index = 'title', aggfunc='mean') #creating table of mean values

ratings_by_title = data.groupby('title').size() 
active_titles = ratings_by_title.index[ratings_by_title >= 250] #only include users with 250 ratings

mean_ratings = mean_ratings.loc[active_titles] 
#max_ratings = mean_ratings.sort_values(by='rating') #finding the list of max ratings

#print(max_ratings.sort_index(by='rating'))
#print(max_ratings[::-1][:5]) #printing the list of max ratings to see the highest

max_rating = mean_ratings.nlargest(1, 'rating')
highest_rated_title = str(max_rating.index) #defining the max rated movie


     



print('\nThis is the first 5 rows of user data')
print(users[:5])
print('\nThis is the first 5 rows of ratings data')
print(ratings[:5])
print('\nThis is the first 5 rows of movie data')
print(movies[:5])
print('\nThis is the highest rated movie')
print(highest_rated_title[8:75])
print('\nThis is the first 5 rows of the combined data set')
print(data[:5])
print('\nThis is the number of records in the user data')
print(len(users.index))
print('\nThis is the number of records in the ratings data')
print(len(ratings.index))
print('\nThis is the number of records in the movie data')
print(len(movies.index))
print('\nThis is the number of records in the combined data')
print(len(data.index))

This is the first 5 rows of user data
   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

This is the first 5 rows of ratings data
   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

This is the first 5 rows of movie data
   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

This is the highest rated movie
Seven Samurai (The Magnificent Seven) (Shichinin no samurai) (1954)

This is the first 5 rows of the combined data set
   user_id  movie_id  rating  timestamp gender  age  occupation    zip  \
0        1      1193       5  978300760      F    1          10  48067
1        2      1193       5  978298413      M   56          16  70072
2       12      1193       4  978220179      M   25          12  32793
3       15      1193       4  978199279      M   25           7  22903
4       17      1193       5  978158471      M   50           1  95350

                                    title genres
0  One Flew Over the Cuckoo's Nest (1975)  Drama
1  One Flew Over the Cuckoo's Nest (1975)  Drama
2  One Flew Over the Cuckoo's Nest (1975)  Drama
3  One Flew Over the Cuckoo's Nest (1975)  Drama
4  One Flew Over the Cuckoo's Nest (1975)  Drama

This is the number of records in the user data
6040

This is the number of records in the ratings data
1000209

This is the number of records in the movie data
3883

This is the number of records in the combined data
1000209