In [2]:
import pandas as pd
# sreies
# data frames

In [2]:
from math import pi

import pandas as pd

from bokeh.io import output_file, show
from bokeh.palettes import Category20c
from bokeh.plotting import figure
from bokeh.transform import cumsum

x = { 'United States': 157, 'United Kingdom': 93, 'Japan': 89, 'China': 63,
    'Germany': 44, 'India': 42, 'Italy': 40, 'Australia': 35,
    'Brazil': 32, 'France': 31, 'Taiwan': 31, 'Spain': 29 }

data = pd.Series(x).reset_index(name='value').rename(columns={'index':'country'})
print(data)
data['angle'] = data['value']/data['value'].sum() * 2*pi
data['color'] = Category20c[len(x)]
print(data)

p = figure(plot_height=350, title="Pie Chart", toolbar_location=None,
        tools="hover", tooltips="@country: @value")

p.wedge(x=0, y=1, radius=0.4,
        start_angle=cumsum('angle', include_zero=True), end_angle=cumsum('angle'),
        line_color="white", fill_color='color', legend='country', source=data)

show(p)

           country  value
0    United States    157
1   United Kingdom     93
2            Japan     89
3            China     63
4          Germany     44
5            India     42
6            Italy     40
7        Australia     35
8           Brazil     32
9           France     31
10          Taiwan     31
11           Spain     29
           country  value     angle    color
0    United States    157  1.437988  #3182bd
1   United Kingdom     93  0.851802  #6baed6
2            Japan     89  0.815165  #9ecae1
3            China     63  0.577027  #c6dbef
4          Germany     44  0.403003  #e6550d
5            India     42  0.384685  #fd8d3c
6            Italy     40  0.366366  #fdae6b
7        Australia     35  0.320571  #fdd0a2
8           Brazil     32  0.293093  #31a354
9           France     31  0.283934  #74c476
10          Taiwan     31  0.283934  #a1d99b
11           Spain     29  0.265616  #c7e9c0

In [3]:
#obtain series from python dictionaries
# keys of dictionaries act as index or label for values
dict = {'a': 3, 'b':"cat" , 'c': 2.5}
dict
q= pd.Series(dict)
q

a      3
b    cat
c    2.5
dtype: object

In [5]:
df = pd.Series([100,'Cat', 310, 'gog', 500], index= ['amy', 'Raz', 'Julia', 'Gregg','Carlo'])
df

amy      100
Raz      Cat
Julia    310
Gregg    gog
Carlo    500
dtype: object

In [6]:
df.loc[['amy','Carlo']]

amy      100
Carlo    500
dtype: object

In [7]:
oneD = pd.Series([100,'cat', 310, 'gog', 500], index = ['amy','boby', 'cat', 'don', 'emma'])
oneD

amy     100
boby    cat
cat     310
don     gog
emma    500
dtype: object

In [8]:
oneD = pd.Series([100,'cat', 310, 'gog', 500], ['amy','boby', 'cat', 'don', 'emma'])
oneD

amy     100
boby    cat
cat     310
don     gog
emma    500
dtype: object

In [9]:
oneD.loc[['dog', 'emma']]

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

dog     NaN
emma    500
dtype: object

In [10]:
oneD[[0,3,4]] # index value at index 0,3,4

amy     100
don     gog
emma    500
dtype: object

In [11]:
df[[1,2,3]]

Raz      Cat
Julia    310
Gregg    gog
dtype: object

In [12]:
oneD.iloc[1]

'cat'

In [12]:
df.iloc[1]

'Cat'

In [13]:
'cat' in oneD # search among indexes

True

In [17]:
'Raz' in df

True

In [18]:
'Dog' in oneD

False

In [14]:
# dataframe
d= { 'A': pd.Series([100,200,300], index = ['apple', 'pear', 'orange']),
   'B' : pd.Series([111, 112, 113,114] , index = ['apple',  'pear', 'orange', 'melon'])}

In [15]:
midterm = { 'W1':pd.Series ([90,95,80,87], index = ['EM224', 'EM225','EM226', 'EM227']),
          'W2': pd.Series([70,85,82], index=  ['EM228', 'EM229','EM223'])
         }

In [16]:
mt = pd.DataFrame(midterm)
print(mt)

         W1    W2
EM223   NaN  82.0
EM224  90.0   NaN
EM225  95.0   NaN
EM226  80.0   NaN
EM227  87.0   NaN
EM228   NaN  70.0
EM229   NaN  85.0

In [34]:
pd.DataFrame(mt, index = ['EM224', 'EM228','EM229', 'EM227'], columns = ['W2','W1'])

         W2    W1
EM224   NaN  90.0
EM228  70.0   NaN
EM229  85.0   NaN
EM227   NaN  87.0

In [23]:
df = pd.DataFrame(d)
print(df)

            A    B
apple   100.0  111
melon     NaN  114
orange  300.0  113
pear    200.0  112

In [24]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [27]:
print(type(mt))
mt.index
mt.columns

<class 'pandas.core.frame.DataFrame'>

Index(['w1', 'W2'], dtype='object')

In [25]:
df.index # rows

Index(['apple', 'melon', 'orange', 'pear'], dtype='object')

In [26]:
df.columns

Index(['A', 'B'], dtype='object')

In [29]:
pd.DataFrame(df, index = ['apple', 'pear', 'orange','melon'], columns = ['A']) # specify which row/column we want to see

            A
apple   100.0
pear    200.0
orange  300.0
melon     NaN

#  reading in CSv

In [1]:
import numpy as np
import pandas as pd

In [2]:
file = 'Regression Data-1.csv'
df1 = pd.read_csv(file)
df1.head()

     x1    x2      x3      x4  x5  x6   x7  x8      x9       x10         y
0  0.01  7.36  117.75  114.62   1   0  0.0  75  316.46  2.169000  3.965913
1  0.01  6.19   17.90   17.64   0   0  0.0  90  408.93  2.417221  4.096611
2  0.01  6.19   10.04    9.58   0   0  0.0  90  289.56  2.417221  5.925502
3  0.01  6.19   13.24   12.90   0   0  0.0  90  256.82  2.417221  5.582139
4  0.01  6.19   16.24   15.96   0   0  0.0  90  527.92  2.417221  5.674701

In [4]:
import numpy as np
test= pd.read_csv('H_Clinton-emails.csv')
test = test.fillna(0)
#test = test.dropna()
test.head(20)
x = test['Frequency']
std = np.std(x)
print(std)

KeyError: 'Frequency'

In [38]:
test.tail()

   Order Name  Frequency
5    6.0    f        NaN
6    7.0    g   2.254559
7    NaN    h   3.735937
8    9.0    i   6.586651
9   10.0    j   9.863590

In [34]:
df1= pd.read_csv(file,sep =',')# if the data is not clean and has "," between them so we use the seperator
df1.head()

     x1    x2      x3      x4  x5  x6   x7  x8      x9       x10         y
0  0.01  7.36  117.75  114.62   1   0  0.0  75  316.46  2.169000  3.965913
1  0.01  6.19   17.90   17.64   0   0  0.0  90  408.93  2.417221  4.096611
2  0.01  6.19   10.04    9.58   0   0  0.0  90  289.56  2.417221  5.925502
3  0.01  6.19   13.24   12.90   0   0  0.0  90  256.82  2.417221  5.582139
4  0.01  6.19   16.24   15.96   0   0  0.0  90  527.92  2.417221  5.674701

In [38]:
df1= pd.read_csv('TODO.txt',sep ='\t')# if the data is in text format
df1.head()

     x1    x2      x3      x4  x5  x6   x7  x8      x9       x10         y
0  0.01  7.36  117.75  114.62   1   0  0.0  75  316.46  2.169000  3.965913
1  0.01  6.19   17.90   17.64   0   0  0.0  90  408.93  2.417221  4.096611
2  0.01  6.19   10.04    9.58   0   0  0.0  90  289.56  2.417221  5.925502
3  0.01  6.19   13.24   12.90   0   0  0.0  90  256.82  2.417221  5.582139
4  0.01  6.19   16.24   15.96   0   0  0.0  90  527.92  2.417221  5.674701

# reading Excel file

In [19]:
import os
os.getcwd()

'/Users/zackedwards/OneDrive - stevens.edu/EM224 python'

In [51]:
file = 'Regression Data-1.xlsx'
x1 = pd.ExcelFile(file) # open the file
print(x1.sheet_names) # go through different sheets

['Sheet1']

In [52]:
df1 = x1.parse('Sheet1') # load a sheet to a data frame
df1.head()

,Unnamed: 0,Independent Variables,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,T,Mw,Rrup (km),Rjb (km),FRV,FNM,ZTOR,δ,Vs_30,Z2.5 (km),Ln(Sa)
1,NaN,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,y
2,NaN,0.01,7.36,117.75,114.62,1,0,0,75,316.46,2.169,3.96591
3,NaN,0.01,6.19,17.9,17.64,0,0,0,90,408.93,2.41722,4.09661
4,NaN,0.01,6.19,10.04,9.58,0,0,0,90,289.56,2.41722,5.9255

# Reading JSON

In [49]:
import json

In [56]:
df= pd.read_json('skorea.json')
df.head(2)

,Area ha (acre),Criteria,Description,Image,Location,Site,Year
0,135 (330),Cultural: (ii)(iii),,/wiki/File:MuryeongsTomb.jpg,"South Chungcheong, North Jeolla",Baekje Historic Areas,2015
1,,Cultural: (iii),,/wiki/File:Korea-Gwangju-Gochang_Dolmens_5350-...,"Incheon, North Jeolla, South Jeolla","Gochang, Hwasun and Ganghwa Dolmen Sites",2000

In [57]:
df.shape

(12, 7)

In [60]:
web = pd.read_json('https://api.github.com/repos/pydata/pandas/issues?per_page=5')
web.head(4)

,assignee,assignees,author_association,body,closed_at,comments,comments_url,created_at,events_url,html_url,...,milestone,node_id,number,pull_request,repository_url,state,title,updated_at,url,user
0,NaN,[],CONTRIBUTOR,closes #25511\r\n,NaT,1,https://api.github.com/repos/pandas-dev/pandas...,2019-03-02 17:02:48,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/25517,...,{'url': 'https://api.github.com/repos/pandas-d...,MDExOlB1bGxSZXF1ZXN0MjU3Njc3MjU4,25517,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas,open,TST: xfail non-writeable pytables tests with n...,2019-03-02 18:08:26,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'jreback', 'id': 953992, 'node_id': ..."
1,NaN,[],CONTRIBUTOR,xref #24332,NaT,0,https://api.github.com/repos/pandas-dev/pandas...,2019-03-02 16:22:39,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/25516,...,None,MDExOlB1bGxSZXF1ZXN0MjU3Njc0NzAz,25516,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas,open,STY: use pytest.raises context manager (frame),2019-03-02 16:22:39,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'simonjayhawkins', 'id': 13159005, '..."
2,NaN,[],CONTRIBUTOR,"see also #22705\r\n\r\n#### Code Sample, a cop...",NaT,0,https://api.github.com/repos/pandas-dev/pandas...,2019-03-02 12:05:39,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/25515,...,None,MDU6SXNzdWU0MTYzOTA1OTk=,25515,NaN,https://api.github.com/repos/pandas-dev/pandas,open,BUG: inappropriate error message for DataFrame...,2019-03-02 12:05:39,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'simonjayhawkins', 'id': 13159005, '..."
3,NaN,[],NONE,#### Code Sample\r\n\r\n```python\r\nimport nu...,NaT,0,https://api.github.com/repos/pandas-dev/pandas...,2019-03-01 20:11:25,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/25514,...,None,MDU6SXNzdWU0MTYyNjEyMjM=,25514,NaN,https://api.github.com/repos/pandas-dev/pandas,open,Display precision doesn't affect complex float...,2019-03-01 20:12:54,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'jay-pee', 'id': 9380980, 'node_id':..."

#  reading Webpage

In [20]:
import html5lib

In [22]:
uss = pd.read_html('https://simple.wikipedia.org/wiki/List_of_U.S._states')
u = uss[0]
print(type(uss))
print(u)

<class 'list'>
    Name &postal abbreviation[1]                                 \
    Name &postal abbreviation[1] Name &postal abbreviation[1].1
0                        Alabama                             AL
1                         Alaska                             AK
2                        Arizona                             AZ
3                       Arkansas                             AR
4                     California                             CA
5                       Colorado                             CO
6                    Connecticut                             CT
7                       Delaware                             DE
8                        Florida                             FL
9                        Georgia                             GA
10                        Hawaii                             HI
11                         Idaho                             ID
12                      Illinois                             IL
13                       Indiana                             IN
14                          Iowa                             IA
15                        Kansas                             KS
16       Kentucky[upper-alpha 3]                             KY
17                     Louisiana                             LA
18                         Maine                             ME
19                      Maryland                             MD
20  Massachusetts[upper-alpha 3]                             MA
21                      Michigan                             MI
22                     Minnesota                             MN
23                   Mississippi                             MS
24                      Missouri                             MO
25                       Montana                             MT
26                      Nebraska                             NE
27                        Nevada                             NV
28                 New Hampshire                             NH
29                    New Jersey                             NJ
30                    New Mexico                             NM
31                      New York                             NY
32                North Carolina                             NC
33                  North Dakota                             ND
34                          Ohio                             OH
35                      Oklahoma                             OK
36                        Oregon                             OR
37   Pennsylvania[upper-alpha 3]                             PA
38   Rhode Island[upper-alpha 4]                             RI
39                South Carolina                             SC
40                  South Dakota                             SD
41                     Tennessee                             TN
42                         Texas                             TX
43                          Utah                             UT
44                       Vermont                             VT
45       Virginia[upper-alpha 3]                             VA
46                    Washington                             WA
47                 West Virginia                             WV
48                     Wisconsin                             WI
49                       Wyoming                             WY

            Cities                 Established[upper-alpha 1]  \
           Capital      Largest[5] Established[upper-alpha 1]
0       Montgomery      Birmingham               Dec 14, 1819
1           Juneau       Anchorage                Jan 3, 1959
2          Phoenix         Phoenix               Feb 14, 1912
3      Little Rock     Little Rock               Jun 15, 1836
4       Sacramento     Los Angeles                Sep 9, 1850
5           Denver          Denver                Aug 1, 1876
6         Hartford      Bridgeport                Jan 9, 1788
7            Dover      Wilmington                Dec 7, 1787
8      Tallahassee    Jacksonville                Mar 3, 1845
9          Atlanta         Atlanta                Jan 2, 1788
10        Honolulu        Honolulu               Aug 21, 1959
11           Boise           Boise                Jul 3, 1890
12     Springfield         Chicago                Dec 3, 1818
13    Indianapolis    Indianapolis               Dec 11, 1816
14      Des Moines      Des Moines               Dec 28, 1846
15          Topeka         Wichita               Jan 29, 1861
16       Frankfort      Louisville                Jun 1, 1792
17     Baton Rouge     New Orleans               Apr 30, 1812
18         Augusta        Portland               Mar 15, 1820
19       Annapolis       Baltimore               Apr 28, 1788
20          Boston          Boston                Feb 6, 1788
21         Lansing         Detroit               Jan 26, 1837
22        St. Paul     Minneapolis               May 11, 1858
23         Jackson         Jackson               Dec 10, 1817
24  Jefferson City     Kansas City               Aug 10, 1821
25          Helena        Billings                Nov 8, 1889
26         Lincoln           Omaha                Mar 1, 1867
27     Carson City       Las Vegas               Oct 31, 1864
28         Concord      Manchester               Jun 21, 1788
29         Trenton          Newark               Dec 18, 1787
30        Santa Fe     Albuquerque                Jan 6, 1912
31          Albany        New York               Jul 26, 1788
32         Raleigh       Charlotte               Nov 21, 1789
33        Bismarck           Fargo                Nov 2, 1889
34        Columbus        Columbus                Mar 1, 1803
35   Oklahoma City   Oklahoma City               Nov 16, 1907
36           Salem        Portland               Feb 14, 1859
37      Harrisburg    Philadelphia               Dec 12, 1787
38      Providence      Providence               May 29, 1790
39        Columbia      Charleston               May 23, 1788
40          Pierre     Sioux Falls                Nov 2, 1889
41       Nashville       Nashville                Jun 1, 1796
42          Austin         Houston               Dec 29, 1845
43  Salt Lake City  Salt Lake City                Jan 4, 1896
44      Montpelier      Burlington                Mar 4, 1791
45        Richmond  Virginia Beach               Jun 25, 1788
46         Olympia         Seattle               Nov 11, 1889
47      Charleston      Charleston               Jun 20, 1863
48         Madison       Milwaukee               May 29, 1848
49        Cheyenne        Cheyenne               Jul 10, 1890

   Population[upper-alpha 2][3] Total area[4]          Land area[4]           \
   Population[upper-alpha 2][3]           mi2      km2          mi2      km2
0                       4903185         52420   135767        50645   131171
1                        731545        665384  1723337       570641  1477953
2                       7278717        113990   295234       113594   294207
3                       3017804         53179   137732        52035   134771
4                      39512223        163695   423967       155779   403466
5                       5758736        104094   269601       103642   268431
6                       3565278          5543    14357         4842    12542
7                        973764          2489     6446         1949     5047
8                      21477737         65758   170312        53625   138887
9                      10617423         59425   153910        57513   148959
10                      1415872         10932    28313         6423    16635
11                      1787065         83569   216443        82643   214045
12                     12671821         57914   149995        55519   143793
13                      6732219         36420    94326        35826    92789
14                      3155070         56273   145746        55857   144669
15                      2913314         82278   213100        81759   211754
16                      4467673         40408   104656        39486   102269
17                      4648794         52378   135659        43204   111898
18                      1344212         35380    91633        30843    79883
19                      6045680         12406    32131         9707    25142
20                      6892503         10554    27336         7800    20202
21                      9986857         96714   250487        56539   146435
22                      5639632         86936   225163        79627   206232
23                      2976149         48432   125438        46923   121531
24                      6137428         69707   180540        68742   178040
25                      1068778        147040   380831       145546   376962
26                      1934408         77348   200330        76824   198974
27                      3080156        110572   286380       109781   284332
28                      1359711          9349    24214         8953    23187
29                      8882190          8723    22591         7354    19047
30                      2096829        121590   314917       121298   314161
31                     19453561         54555   141297        47126   122057
32                     10488084         53819   139391        48618   125920
33                       762062         70698   183108        69001   178711
34                     11689100         44826   116098        40861   105829
35                      3956971         69899   181037        68595   177660
36                      4217737         98379   254799        95988   248608
37                     12801989         46054   119280        44743   115883
38                      1059361          1545     4001         1034     2678
39                      5148714         32020    82933        30061    77857
40                       884659         77116   199729        75811   196350
41                      6829174         42144   109153        41235   106798
42                     28995881        268596   695662       261232   676587
43                      3205958         84897   219882        82170   212818
44                       623989          9616    24906         9217    23871
45                      8535519         42775   110787        39490   102279
46                      7614893         71298   184661        66456   172119
47                      1792147         24230    62756        24038    62259
48                      5822434         65496   169635        54158   140268
49                       578759         97813   253335        97093   251470

   Water area[4]         Numberof Reps.
             mi2     km2 Numberof Reps.
0           1775    4597              7
1          94743  245384              1
2            396    1026              9
3           1143    2961              4
4           7916   20501             53
5            452    1170              7
6            701    1816              5
7            540    1399              1
8          12133   31424             27
9           1912    4951             14
10          4509   11678              2
11           926    2398              2
12          2395    6202             18
13           593    1537              9
14           416    1077              4
15           520    1346              4
16           921    2387              6
17          9174   23761              6
18          4537   11750              2
19          2699    6990              8
20          2754    7134              9
21         40175  104052             14
22          7309   18930              8
23          1508    3907              4
24           965    2501              8
25          1494    3869              1
26           524    1356              3
27           791    2048              4
28           397    1027              2
29          1368    3544             12
30           292     757              3
31          7429   19240             27
32          5201   13471             13
33          1698    4397              1
34          3965   10269             16
35          1304    3377              5
36          2391    6191              5
37          1312    3397             18
38           511    1324              2
39          1960    5076              7
40          1305    3379              1
41           909    2355              9
42          7365   19075             36
43          2727    7064              4
44           400    1035              1
45          3285    8508             11
46          4842   12542             10
47           192     497              3
48         11339   29367              8
49           720    1864              1

In [23]:
 #what if we have more than 1 table in my webpage? instead of [0] we take [1], this meanse eachtable will locate in a new location per t]list

whsPH=pd.read_html('https://en.wikipedia.org/wiki/List_of_World_Heritage_Sites_in_the_Philippines')

In [24]:
whs_phl = whsPH[0] #grab dataframe from index 1, table 2 of the tentative WHS sites
print(whs_phl)

                                                Name  Image  \
0  Baroque Churches of the Philippines: San Agust...    NaN
1                       Tubbataha Reefs Natural Park    NaN
2  Rice Terraces of the Philippine Cordilleras: B...    NaN
3                             Historic City of Vigan    NaN
4   Puerto Princesa Subterranean River National Park    NaN
5          Mount Hamiguitan Range Wildlife Sanctuary    NaN

                                           Location  \
0  City of Manila; Ilocos Sur; Ilocos Norte; Iloilo
1                                           Palawan
2                                            Ifugao
3                                        Ilocos Sur
4                                           Palawan
5                                    Davao Oriental

                              Regions  \
0  Manila; Ilocandia; Western Visayas
1                            Mimaropa
2                          Cordillera
3                           Ilocandia
4                            Mimaropa
5                               Davao

                                         UNESCO data             Period  \
0  1993 (inscription), 2013 (minor boundary modif...       16th century
1   1993 (inscription), 2009 (extension); vii, ix, x  Pleistocene Epoch
2                     1995 (inscription); iii, iv, v       16th century
3                         1999 (inscription); ii, iv       16th century
4                          1999 (inscription); vii,x  Pleistocene Epoch
5                              2014 (inscription); x  Pleistocene Epoch

                                         Description   Ref
0  All of the four baroque churches have been dec...   [5]
1  The site is an ASEAN Heritage Park, and a Rams...   [6]
2  The inscription includes 5 properties, namely,...   [7]
3  The site is also one of the New7Wonders Cities...   [8]
4  The site is one of the New7Wonders of Nature, ...   [9]
5        The site is a declared ASEAN Heritage Park.  [10]

In [70]:
whs_phl = whsPH[1] #grab dataframe from index 1, table 2 of the tentative WHS sites
print(whs_phl)

            Community Exclusive sites Shared sites
0           Ilocandia               1            1
1          Cordillera               1            —
2      Cagayan Valley               —            —
3       Central Luzon               —            —
4              Manila               —            1
5          Calabarzon               —            —
6            Mimaropa               2            —
7          Bicolandia               —            —
8     Western Visayas               —            1
9     Central Visayas               —            —
10    Eastern Visayas               —            —
11          Zamboanga               —            —
12  Northern Mindanao               —            —
13             Caraga               —            —
14              Davao               1            —
15       Soccsksargen               —            —
16         Bangsamoro               —            —

In [71]:
whs_phl = whsPH[2] #grab dataframe from index 1, table 2 of the tentative WHS sites
print(whs_phl)

                      Type (criteria)  \
0               Natural: (vii)(ix)(x)
1       Cultural: (i)(iii)(iv)(v)(vi)
2                               Mixed
3              Cultural: (iii)(iv)(v)
4                Natural: (vii)(viii)
5                 Mixed: (iii)(ix)(x)
6                    Natural: (ix)(x)
7   Cultural: (i)(ii)(iii)(iv)(v)(vi)
8                   Natural: (vii)(x)
9                    Natural: (ix)(x)
10              Natural: (vii)(ix)(x)
11                   Natural: (ix)(x)
12                   Natural: (ix)(x)
13         Cultural: (ii)(iii)(iv)(v)
14                   Natural: (ix)(x)
15         Cultural: (ii)(iii)(iv)(v)
16                    Cultural: (iii)
17         Cultural: (ii)(iii)(iv)(v)
18                   Natural: (ix)(x)

                                                 Site  \
0                               Apo Reef Natural Park
1   Baroque Churches of the Philippines (Extension...
2          Batanes Protected landscapes and seascapes
3                          Butuan Archeological Sites
4                    Chocolate Hills Natural Monument
5                    Coron Island Natural Biotic Area
6      El Nido-Taytay Managed Resource Protected Area
7                          Kabayan Mummy Burial Caves
8                  Mayon Volcano Natural Park (MMVNP)
9                     Mounts Iglit-Baco National Park
10                 Mount Malindang Range Natural Park
11            Mount Mantalingajan Protected Landscape
12                          Mount Pulag National Park
13  Neolithic Shell Midden Sites in Lal-lo and Gat...
14  Northern Sierra Madre Natural Park and outlyin...
15  Paleolithic Archaeological Sites in Cagayan Va...
16  Petroglyphs and Petrographs of the Philippines...
17           The Tabon Cave Complex and all of Lipuun
18                  Turtle Islands Wildlife Sanctuary

                              Location                        Period  \
0                             Sulu Sea             Pleistocene Epoch
1                    Various Locations        18th to 19th centuries
2                              Batanes  Pleistocene Epoch and 100 AD
3                     Agusan del Norte                  10th century
4                                Bohol             Pleistocene Epoch
5                              Palawan             Pleistocene Epoch
6                              Palawan             Pleistocene Epoch
7                              Benguet                        100 AD
8                                Albay             Pleistocene Epoch
9                              Mindoro             Pleistocene Epoch
10                  Misamis Occidental             Pleistocene Epoch
11                             Palawan             Pleistocene Epoch
12  Ifugao, Nueva Viscaya, and Benguet             Pleistocene Epoch
13                             Cagayan              Neolithic Period
14                             Isabela             Pleistocene Epoch
15                      Cagayan Valley            Paleolithic Period
16                  Multiple locations            Paleolithic Period
17                             Palawan            Paleolithic Period
18                           Tawi-Tawi             Pleistocene Epoch

                                          Description  Image   Ref
0   The site is the second biggest producer of juv...    NaN  [14]
1   All five baroque churches have been declared a...    NaN  [15]
2   The Mahatao Church of Batanes is a declared Na...    NaN  [16]
3   The site exemplified and concretized the capab...    NaN  [17]
4   The site is the focal property of the proposed...    NaN  [18]
5   The site is within the Palawan UNESCO Biospher...    NaN  [19]
6   The site is within the Palawan UNESCO Biospher...    NaN  [20]
7   The site has been listed by the World Monument...    NaN  [21]
8   The site is the central property of the Albay ...    NaN  [22]
9         The site is a declared ASEAN Heritage Park.    NaN  [23]
10        The site is a declared ASEAN Heritage Park.    NaN  [24]
11  The site is part of the Palawan UNESCO Biosphe...    NaN  [25]
12  The site is the third highest point in the Phi...    NaN  [26]
13  The site is the largest shell midden zone in t...    NaN  [27]
14  The site is the largest national park in the P...    NaN  [28]
15  The site includes the location where the bone ...    NaN  [29]
16  The sites in Singnapan, Alab, and Angono have ...    NaN  [30]
17  The site is a declared National Cultural Treas...    NaN  [31]
18  The site is a major green sea turtle breeding ...    NaN  [32]